# IQ Air Tutorial 

https://www.youtube.com/watch?v=QNKxzkNpsko

Data source: https://www.iqair.com/us/world-air-quality-ranking

In [1]:
import pandas as pd

In [15]:
tables = pd.read_html("https://www.iqair.com/us/world-air-quality-ranking")
len(tables)

1

In [17]:
df = tables[0]
df
# df.columns

,Rank,"Major city, country/region","Major city, country/region.1",AQI⁺ US,Followers
0,1,NaN,"Delhi, India",169,2.8M followers
1,2,NaN,"Medan, Indonesia",155,1.4M followers
2,3,NaN,"Jakarta, Indonesia",150,1.8M followers
3,4,NaN,"Baghdad, Iraq",144,88.5K followers
4,5,NaN,"Kinshasa, Democratic Republic of the Congo",124,9.8K followers
...,...,...,...,...,...
120,121,NaN,"Hong Kong, Hong Kong SAR",23,894.5K followers
121,122,NaN,"Chiang Mai, Thailand",22,12.5M followers
122,123,NaN,"Sydney, Australia",18,1.7M followers
123,124,NaN,"Shenzhen, China",17,556.9K followers
124,125,NaN,"Houston, USA",12,51.6K followers

In [18]:
df = df.drop(columns = ['Major city, country/region'])

In [19]:
df.rename(columns={'Major city, country/region.1' : 'Location'})

,Rank,Location,AQI⁺ US,Followers
0,1,"Delhi, India",169,2.8M followers
1,2,"Medan, Indonesia",155,1.4M followers
2,3,"Jakarta, Indonesia",150,1.8M followers
3,4,"Baghdad, Iraq",144,88.5K followers
4,5,"Kinshasa, Democratic Republic of the Congo",124,9.8K followers
...,...,...,...,...
120,121,"Hong Kong, Hong Kong SAR",23,894.5K followers
121,122,"Chiang Mai, Thailand",22,12.5M followers
122,123,"Sydney, Australia",18,1.7M followers
123,124,"Shenzhen, China",17,556.9K followers
124,125,"Houston, USA",12,51.6K followers

In [20]:
df.to_csv('air_quality.csv', index=False)